<!--%
/** 
 * Reusable footer partial.
 * any footer layout changes happen here.
 *
/*
%-->
<div class="foot">
    Created for Final Project DEV320 by <a href="/kat-Portfolio">Katherine West</a>, <a href="/peta-Portfolio">Peter-Paul Troendle</a>, <a href="/sasha-Portfolio">Oleksandr Skvortsova</a>, Marie Chuong
  </div>
