<!--%
/** 
 * Reusable footer partial.
 * any footer layout changes happen here.
 *
/*
%-->
<div class="foot">
    Created for Final Project DEV320 by Katherine West, Marie Chuong, Peter-Paul Troendle, Oleksandr Skvortsova
  </div>
