<%
/** 
 * Reusable header partial.
 * any header layout changes happen here.
 *
/*
%>

<div class="header">
  <h1 id="main-title" class="container">Crafting Notions</h1>
  <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
</div>