<!--%
/** 
 * Reusable header partial.
 * any header layout changes happen here.
 *
/*
%-->

<div class="header">
<<<<<<< HEAD
  <a href="/"><h1 id="main-title" class="container">Crafting Notions</h1></a>
  <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
=======
  <a href="/"><img src="/images/logo.png" class="logo"></a>
>>>>>>> origin/main
</div>