<!--%
/** 
 * Reusable navbar partial.
 * any navbar layout changes happen here.
 *
/*
%-->

<div class="navigation">
  <div class="nav-container">
    <div> <a href="/products?category=felt-goods">Felt & Crafting Goods<img src="..\images\down-arrow-backup-2-svgrepo-com.svg"></a></div>
    <div> <a href="/products?category=beads-diy">Beads & DIY kits<img src="..\images\down-arrow-backup-2-svgrepo-com.svg"></a></div>
    <div> <a href="/products?category=yarn-threads">Yarn & Threads<img src="..\images\down-arrow-backup-2-svgrepo-com.svg"></a></div>
    <div> <a href="/products?category=fabric">Fabric<img src="..\images\down-arrow-backup-2-svgrepo-com.svg"></a></div>
    <div> <a href="/tutorials">Tutorials</a></div>
    <div> <a href="/cart">Cart</a></div>
  </div>
</div>
<script>
  function shopNow(category) {
    window.location.href = `/products?category=${category}`;
}
</script>