<!--%
/** 
 * Reusable navbar partial.
 * any navbar layout changes happen here.
 *
/*
%-->

<div class="navigation">
    <div class="nav-container">
      <div> Shop <img src=".\images\down-arrow-backup-2-svgrepo-com.svg"></div>
      <div> Shop <img src=".\images\down-arrow-backup-2-svgrepo-com.svg"></div>
      <div> Shop <img src=".\images\down-arrow-backup-2-svgrepo-com.svg"></div>
      <div> <a href="/tutorials">Tutorials</a></div>
    </div>
  </div>
