<!--%
/** 
 * Reusable navbar partial.
 * any navbar layout changes happen here.
 *
/*
%-->

<div class="navigation">
    <div class="nav-container">
      <div> <a href="/"> Main Page</a></div>
      <div> <a href="xlyns.ddns.net:1338"> Portfolio</a></div>
      <div> <a href="/products"> Shop <img src="../images/down-arrow-backup-2-svgrepo-com.svg"></a></div>
      <div> <a href="/products"> Shop <img src="../images/down-arrow-backup-2-svgrepo-com.svg"></a></div>
      <div> <a href="/products"> Shop <img src="..\images\down-arrow-backup-2-svgrepo-com.svg"></a></div>
      <div> <a href="/tutorials">Tutorials</a></div>
      <div> <a href="/cart">Cart</a></div>
    </div>
  </div>
