<div class="container-fluid body">
  <%- partial('../partials/header.ejs') %>
  <%- partial('../partials/navbar.ejs') %>

  <div class="web-body">
  </div>
  <%- partial('../partials/footer.ejs') %>
</div>
