<div class="container-fluid body">
  <%- partial('../partials/header.ejs') %>
  <%- partial('../partials/navbar.ejs') %>

  <div class="web-body">
    <div class="container-browse">
      <div class="container-filters">
        <form id="browse-filters">
          <fieldset>
            <legend>Filters</legend>
            <input type="checkbox" id="test" name="test" value="test" />
            <label for="test"> Test filter</label>
          </fieldset>
        </form>
      </div>
      <div class="container-content">
        
      </div>
    </div>
  </div>
  <%- partial('../partials/footer.ejs') %>
</div>
