<div class="container-fluid body">
  <%- partial('../partials/header') %>
  <%- partial('../partials/navbar') %>

  <div class="web-body">
    <div class="container-big-promo">
      <div class="big-promo-img">
        <h2>Fabric with a large pattern</h2>
        <img src="images\photo-1552710307-537199cd41c0.avif" class="imgShopNow">
        <button class="shopNow">Shop Now</button>
      </div>
      <div class="big-promo-img">
        <h2>Fabric with a small pattern</h2>
        <img src="images\premium_photo-1675202428354-31b4d814df9d.avif" class="imgShopNow">
        <button class="shopNow">Shop Now</button>
      </div>
    </div>
    <div class="container-grid">
  <div class="grid-promo-img">
    <img src="images/yarn.jpg" alt="Yarn">
    <div class="text-overlay">Yarn</div>
  </div>
  <div class="grid-promo-img">
    <img src="images/beads.jpg" alt="Beads">
    <div class="text-overlay">Beads</div>
  </div>
  <div class="grid-promo-img">
    <img src="images/diy.jpg" alt="DIY">
    <div class="text-overlay">DIY Kits</div>
  </div>
  <div class="grid-promo-img">
    <img src="images/felt.jpg" alt="Felt">
    <div class="text-overlay">Felt</div>
  </div>
  <div class="grid-promo-img">
    <img src="images/threads.jpg" alt="Threads">
    <div class="text-overlay">Threads</div>
  </div>
  <div class="grid-promo-img">
    <img src="images/needles.jpg" alt="Needles">
    <div class="text-overlay">Goods for Crafting</div>
  </div>
  <%- partial('../partials/footer') %>
</div>

<h1>Find tutorials for your projects!</h1>
<div class="container-fancy-grid">
 
  <div class="div1"> <img src="images/tutor1.jpg" alt="item 1"> </div>
  <div class="div2"> <img src="images/tutor2.jpg" alt="item 2"></div>
  <div class="div3"> <img src="images/tutor3.jpg" alt="item 3"></div>
  <div class="div4"> <img src="images/tutor4.jpg" alt="item 4"></div>
  <div class="div5"> <img src="images/tutor5.jpg" alt="item 5"></div>
  <div class="div6"> <img src="images/tutor6.jpg" alt="item 6"></div>
</div>
    


  </div>
  <%- partial('../partials/footer') %>
</div>