<div class="container-fluid body">
  <%- partial('../partials/header.ejs') %>
  <%- partial('../partials/navbar.ejs') %>

  <div class="web-body">
    <div class="container-big-promo">
      <div class="big-promo-img">
        <img src="images\photo-1552710307-537199cd41c0.avif">
      </div>
      <div class="big-promo-img">
        <img src="images\premium_photo-1675202428354-31b4d814df9d.avif">
      </div>
    </div>
    <div class="container-grid">
      <div class="grid-promo-img"> <img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> </div>
      <div class="grid-promo-img"> <img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> </div>
      <div class="grid-promo-img"> <img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> </div>
      <div class="grid-promo-img"> <img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> </div>
      <div class="grid-promo-img"> <img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> </div>
      <div class="grid-promo-img"> <img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> </div>
    </div>
    <div class="container-fancy-grid ">
      <div class="fancy-promo-img"> <p>item 1</p> </div>
      <div class="fancy-promo-img"> <p>item 2</p> </div>
      <div class="fancy-promo-img"> <p>item 3</p> </div>
      <div class="fancy-promo-img"> <p>item 4</p> </div>
      <div class="fancy-promo-img"> <p>item 5</p> </div>
      <div class="fancy-promo-img"> <p>item 6</p> </div>
    </div>
  </div>
  <%- partial('../partials/footer.ejs') %>
</div>
