<div class="container-fluid body">
  <%- partial('../partials/header') %>
  <%- partial('../partials/navbar') %>

  <div class="web-body">
    <div class="container-big-promo">
      <div class="big-promo-img"> 
        <a href="/product?pid=test">
        <img src="images\photo-1552710307-537199cd41c0.avif"> </a>
      </div>
      <div class="big-promo-img"> 
        <a href="/product?pid=test">
        <img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> </a>
      </div>
    </div>
    <div class="container-grid">
      <div class="grid-promo-img"> 
        <a href="/product?pid=test"><img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> </a></div>
      <div class="grid-promo-img">
        <a href="/product?pid=test"><img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> </a></div>
      <div class="grid-promo-img">
        <a href="/product?pid=test"><img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> </a></div>
      <div class="grid-promo-img">
        <a href="/product?pid=test"><img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> </a></div>
      <div class="grid-promo-img">
        <a href="/product?pid=test"><img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> </a></div>
      <div class="grid-promo-img">
        <a href="/product?pid=test"><img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> </a></div>
    </div>
    <div class="container-fancy-grid ">
      <a class="fancy-promo-img" href="/products?cat=test"> <div> <p>item 1</p></div></a> 
      <a class="fancy-promo-img" href="/products?cat=test"> <div> <p>item 2</p></div></a> 
      <a class="fancy-promo-img" href="/products?cat=test"> <div> <p>item 3</p></div></a> 
      <a class="fancy-promo-img" href="/products?cat=test"> <div> <p>item 4</p></div></a> 
      <a class="fancy-promo-img" href="/products?cat=test"> <div> <p>item 5</p></div></a> 
      <a class="fancy-promo-img" href="/products?cat=test"> <div> <p>item 6</p></div></a> 
    </div>
  </div>
  <%- partial('../partials/footer') %>
</div>
