<div class="container-fluid body">
  <%- partial('../partials/header') %>
  <%- partial('../partials/navbar') %>

  <div class="web-body">
    <div class="container-product">
      <div class="product-img">
        <img src="images\premium_photo-1675202428354-31b4d814df9d.avif"> 
      </div>
      <div class="product-info">
        <p>Product name</p>
        <p>Product info</p>

        <div class="product-choices">

        </div>
      </div>
    </div>
    <div class="container-product-info">
      <div class="prod-more-info"> 
        <p>Further Product Details</p>
        <div class="prod-info">
          <p>
            test<br>
            test<br>
            test<br>
            test<br>
            test<br>
            test<br>
            test<br>
            test
          </p>
        </div>
      </div>
      <div class="prod-proj">
        <p>Product Projects</p>
        <div class="proj-choices">
        </div>
      </div>
    </div>
  </div>
  <%- partial('../partials/footer') %>
</div>
